{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "exclude": ["@babel/plugin-transform-regenerator"]
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": false
      }
    ],
    "ramda"
  ],
  "sourceMaps": "inline"
}
